// src/styles/_variables.scss
$primary-color: #00BFFF;      // Light Blue
$secondary-color: #1E90FF;    // Dodger Blue
$accent-color: #FFD700;       // Gold
$text-color: #FFFFFF;         // White
$background-color: #000000;   // Black
$nav-text-color: #F0F8FF;     // Alice Blue

$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
